.body {
    width: auto;
    height: auto;
    padding: 5% 5%;
}
.fullName {
    font-size: 3em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.date-time {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
    color: #333;
  }
.info {
    padding: 1% 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.edu {
    padding: 1% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eduLeft, .eduRight, .infoLeft, .infoRight {
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style: none;
}
.infoLeft, .skill {
    margin-top: 8px;
    text-align: right;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap:10px
}
.skill {
    text-align: left;
    padding: 1% 21%;
    cursor: pointer;
}
.skill :hover {
    color: gray
}
.eduLeft {
    margin-top: 30px;
    text-align: right;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap:100px
}
a {
    color: black;
    text-decoration: none;
}
hr {
    margin-top: -10px;
}
.eduHead {
    font-weight: 800;
    font-size: 1.2em;
    font-style: normal;
}
.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
img {
    width: 230px;
    height: 250px;
}
footer {
    width: 100%;
    height: 10vh;
    padding: 5% 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 600;
}
@media screen and (max-width: 1150px) {
    body {
        width: max-content;
        padding: 2% 2%;
    }
    .info, .skill {
        padding: 1% 1%;
        justfiy-content: center;
    }
    .edu {
        padding: 1% 1px;
        row-gap: 2px;
        flex-direction: row;
        flex-wrap: nowrap;
        justfiy-content: center;
    }
    .image {
        flex-direction: column;
    }
    img {
        width: 500px;
        height: 500px;
    }
}